{% extends 'base.html' %}

{% block content %}

  <form method="post" enctype="multipart/form-data">
    <h1>Создать новый пост</h1>
    {% csrf_token %}

    {% comment %}Заголовок{% endcomment %}
    <div class="form-field">
      <label for="id_title" class="form-label" style="display: block; margin-bottom: 10px;"><strong>Заголовок:</strong></label>
      <input type="text" name="title" id="id_title" class="form-input" style="width: 500px; height: 30px; margin-bottom: 10px;" required>
    </div>
    
    {% comment %}Содержание{% endcomment %}
    <div class="form-field">
      <label for="id_content" class="form-label" style="display: block; margin-bottom: 10px;"><strong>Содержание:</strong></label>
      <div id="editor" style="width: 500px; height: 200px;"></div>
      <button class="italic-button" onclick="applyItalic()">Курсив</button>
    </div>

  </form>

  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script>
    var quill = new Quill('#editor', {
      theme: 'snow'
    });

    function applyItalic() {
      var selection = quill.getSelection();
      if (selection) {
        quill.format('italic', true);
      }
    }
  </script>

{% endblock %}