.pagination {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -30px;
    margin-right: 20px;
  }
.pagination a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #333333;
    text-decoration: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-left: 5px;
  }
.pagination .current-page {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 3px;
    margin-left: 5px;
  }