{% extends 'base.html' %}

{% load static %}

{% block content %}

  <meta charset="UTF-8">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'question_detail.css' %}">

  <div class="container">
    
    {% comment %} Question {% endcomment %}
    <div class="question">
      <h1 class="question-title">{{ question.title }}</h1>
      <p style="white-space: pre-line;">{{ question.content }}</p>
      {% if question.image %}
        <img src="{{ question.image.url }}" alt="Question Image">
      {% endif %}
      <p class="timestamp">Asked at: {{ question.created_at }}</p>
    </div>
    
    {% comment %} Answers {% endcomment %}
    <div class="answers">
      <h2>Answers:</h2>
      {% for answer in question.answer_set.all %}
        <div class="answer">
          <p>{{ answer.content | safe }}</p>  <!-- Используйте фильтр 'safe' для отображения отформатированного текста -->
          {% if answer.image %}
            <img src="{{ answer.image.url }}" alt="Answer Image">
          {% endif %}
          <p class="timestamp">Answered at: {{ answer.created_at }}</p>
        </div>
      {% endfor %}
    </div>
    
    {% comment %} Your answer {% endcomment %}
    <div class="your-answer">
      <h2>Your Answer</h2>
      <form method="post" action="{% url 'answer' question.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="editor" class="form-input" style="width: 500px; height: 100px; margin-bottom: 10px; background-color: white;"></div>
        <textarea id="id_content" name="content" style="display: none;"></textarea>  <!-- Скрытое поле для хранения содержимого редактора -->
        <br>
        <input type="file" id="id_image" name="image" accept="image/*">
        <br>
        {% comment %}Кнопка отправить{% endcomment %}
        <button type="submit" class="create-button" style="background-color: blue; color: white; font-size: 14px; margin-top: 40px;">Создать</button>
      </form>
    </div>

    {% comment %} На Главную {% endcomment %}
    <a href="{% url 'main' %}" class="return-link" style="position: absolute; top: 50px; right: 200px;" >Вернуться на главную</a>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
      var quill = new Quill('#editor', {
        theme: 'snow'
      });

      // Обновление значения скрытого поля 'id_content' при отправке формы
      var form = document.querySelector('form');
      form.onsubmit = function() {
        var content = document.querySelector('#id_content');
        content.value = quill.root.innerHTML;
      };
    </script>

    <style>
      .ql-toolbar {
        width: 500px;
        background-color: #eaf6ff; /* Нежно голубой фон */
      }

      .ql-container {
        width: 500px;
      }
    </style>

  </div>
  
{% endblock %}