{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="about">
        <h2>О нас</h2>
        <p>Мы команда разработчиков, работающая над проектом, который изменит цифровую музыку. Наша цель - создать уникальный продукт, который позволит пользователям легко создавать и редактировать музыку с помощью компьютера или мобильного устройства.</p>
        <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь с нами по телефону или по электронной почте:</p>
        <ul>
            <li>Телефон: +7 (999) 123-45-67</li>
            <li>Электронная почта: vepsre@myproject.com</li>
        </ul>
    </div>

    <link rel="stylesheet" href="{% static 'about.css' %}">

{% endblock %}